.blokc{
    width: 500px;
    height: 500px;
    border: solid 1px;
    margin: auto;
   
}
.cyrcle{
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;

}

